# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Editor Files
*.swp

# CMake Build Directory
build/

# Misc
*.pyc
__pycache__/
